version: "3.8"

services:
  backend:
    image: rajvardhan1110/Campus-Tales-Backend:latest
    container_name: campus-backend
    env_file:
      - .env
    ports:
      - "3000:3000"
    restart: always

  frontend:
    image: rajvardhan1110/Campus-Tales-Frontend:latest
    container_name: campus-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
