name: Campus Tales Docker Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # ---------------- Checkout ----------------
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Backend Image
        uses: docker/build-push-action@v4
        with:
          context: ./backend
          dockerfile: ./backend/Dockerfile
          push: true
          tags: |
            rajvardhan1110/campus-tales-backend:latest

      - name: Build and Push Frontend Image
        uses: docker/build-push-action@v4
        with:
          context: ./frontend
          dockerfile: ./frontend/Dockerfile
          push: true
          tags: |
            rajvardhan1110/campus-tales-frontend:latest

      # ---------------- Deploy on Server ----------------
      - name: Deploy on Server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            mkdir Project
            cd ~/Project

            echo "${{ secrets.BACKEND_ENV }}" > .env

            curl -o https://github.com/rajvardhan1110/Campus_Tales/docker-compose.yml

            docker compose pull
            docker compose up -d








            
